.container{
height: 100%;
align-content: center;
}

.card{
height: 420px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
border-radius: 15%;
background-color: rgba(65, 64, 66,0.5) !important;
}


.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #be222f;
}

.social_icon span:hover{
color: #be222f;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #be222f;
color: white;
border:0 !important;
height: 38.5px;
margin-top: 20.5px;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
.LogInInput

{

	border-radius: 1rem !important;
	margin-left:-12px !important;
	margin-top: 0px  !important;
	z-index: 0 !important;
}

.remember{
color: white;
}
.card-footer
{
	text-align: center;
}
.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
	color: black;
	background-color: #be222f;
	color: white;
	width: 100px;
	border-radius: 5rem;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.curveIcons{
  border-radius: 1rem;
  z-index: 1;
  margin-top: 0px !important;;
  
}

.form-rounded {
	border-radius: 1rem;
	margin-left:-11px;
	z-index: 0 
}

.progressKasi
{
	margin-top: 0px !important;
	margin-bottom:10px !important;;
}
 /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/
   @media screen and (max-width: 992px) {
   	.card{
		height: 400px;
		width: 390px;
		margin-top: auto;
		margin-bottom: auto;		
		border-radius: 15%;
		background-color: rgba(65, 64, 66,0.5) !important;
		}
    
  }

  @media screen and (max-width: 767px) {
    .card{
		height: 400px;
		width: 390px
		margin-top: auto;
		margin-bottom: auto;
		border-radius: 15%;
		background-color: rgba(65, 64, 66,0.5) !important;
		}
    
  }


  @media screen and (max-width: 480px) {
    .card{
		height: 355px;
		width: 390px;
		margin-top: auto;
		margin-bottom: auto;		
		border-radius: 15%;
		background-color: rgba(65, 64, 66,0.5) !important;
		}
		.card-body
		{
			height: 235px;
		}
		.card-header h3{
		color: white;
		font-size: 25px;
		}

		.card-header

		{
			height: 45px;
		}
  }