{% extends "base.html"%}


{%block content%}

<div style="height: 10%"></div>
    

     <section class="hero d-flex flex-column justify-content-center align-items-center" >
       <div class="bg-overlay"></div>

               <div class="container">
                 
               </div>
       <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList" style="margin-top: 15px; margin-right: 19px"  >
                <li><a href="#" class="fa fa-facebook-f" style="color: white;"></a></li>
                <li><a href="#" class="fa fa-twitter" style="color: white"></a></li>
                <li><a href="#" class="fa fa-instagram" style="color: white"></a></li>
         </ul>
    </div>
     </section>

{%endblock%}