{% extends "base.html"%}


{%block content%}

<section class="hero d-flex flex-column justify-content-center align-items-center" >
  
  <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="https://www.facebook.com/kasivoreSA/" class="fa fa-facebook-f" ></a></li>
                <li><a href="https://twitter.com/kasivore" class="fa fa-twitter"></a></li>
                <li><a href="https://www.instagram.com/kasivore_sa" class="fa fa-instagram"></a></li>
         </ul>
    </div>
</section>

{%endblock%}