{% extends "base.html"%}


{%block content%}

<section class="hero d-flex flex-column justify-content-center align-items-center" >
   <div class="clearfix">

                    <div class="c100 p9 big dark">
                        <span><img id="profilepicture" src="{{session['profilepicture']}}" alt="Avatar" class="ProfilePicture"></span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <div class="c100 p12 big dark">
                        <span><img id="Accountpp" src="{{session['profilepicture']}}" alt="Avatar" class="ProfilePicture"></span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>

                        </div>
                    </div>

                    <div class="c100 p25 dark">
                        <span>25%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                    <div class="c100 p12 small dark">
                        <span>12%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                </div>
  <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="https://www.facebook.com/kasivoreSA/" class="fa fa-facebook-f" ></a></li>
                <li><a href="https://twitter.com/kasivore" class="fa fa-twitter"></a></li>
                <li><a href="https://www.instagram.com/kasivore_sa" class="fa fa-instagram"></a></li>
         </ul>
    </div>
</section>

{%endblock%}