{% extends "masterpage.html"%}

{%block content%}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form id="SiginForm" method="POST" >
					<div class="input-group form-group" id="username1">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username" id="txtUsername">
						
					</div>
					
					<div class="input-group form-group" id="password1">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control"  placeholder="password" id="txt_pass">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" id="ub_LogIn" class="btn float-right login_btn">
					</div>

					<input type="hidden" id="hf_IsSignup" >
				</form>
				<form id="SigupForm" style="display: none;" method="POST" >
					
					<div class="input-group form-group" id="username2" >
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user" id="txtUsername2"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group" id="password1">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control"  placeholder="password" id="txt_pass">
					</div>
					<div class="input-group form-group" >
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key" ></i></span>
						</div>
						<input type="password" class="form-control" id="txt_pass2" placeholder="confirm password">
					</div>
					<div class="form-group"  >
						<input type="submit" value="Signup" id="ub_Create" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer" id="footer">
				<div class="d-flex justify-content-center links" id="ub_Signup">
					Don't have an account?<a href="javascript:Signup_Click()" >Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="javascript:alert('You clicked!')" id="lbForget">Forgot your password?</a>
				</div>
			</div>

		</div>
	</div>
</div>
		
		
		
	</div>
{%endblock%}