{% extends "base.html"%}

{%block content%}


    <section class="Login d-flex flex-column justify-content-center align-items-center"  >
       

               <div class="container">
                    <div >
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3><label id="lbSignin">Sign In</label> </h3>
				<div class="d-flex justify-content-end social_icon" >
					<!--<span><i class="fab fa-facebook-square"></i></span>-->
					
					<span><i class="fa fa-google-plus-circle"><div class="g-signin2"  data-onsuccess="onSignIn" style="opacity: 0;height:50%; margin-top: -100%; width:55%;"></div></i></span>
				</div>
			</div>
			<div class="card-body">
					<form id="SiginForm" name="SiginForm" action="/login" method="POST" >
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text curveIcons"><i class="fa fa-user"></i></span>
							</div>
							<input type="text" class="form-control LogInInput" placeholder="username" id="txtUser" name="txtUser" required>
							
						</div>
						
						<div class="input-group form-group" >
							<div class="input-group-prepend">
								<span class="input-group-text curveIcons"><i class="fa fa-key"></i></span>
							</div>
							<input type="password" class="form-control LogInInput"  placeholder="password" id="txt_pass" name="txt_pass" required>
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group" >
							<input type="submit" value="Login" id="ub_LogIn" name="ub_LogIn" class="btn float-right login_btn">
						</div>
						<input type="hidden" name="hf_Error1" id="hf_Error1">
						<input type="hidden" id="hf_IsSignup" name="hf_IsSignup" value="{{Signup}}" >
						

					</form>
					<form id="SigupForm" name="SigupForm"  action="/Signup" style="display: none;" method="POST" >
					
						<div class="input-group form-group" >
							<div class="input-group-prepend">
								<span class="input-group-text curveIcons"><i class="fa fa-user" ></i></span>
							</div>
							<input type="text" class="form-control LogInInput" placeholder="username" id="txtUser1" name="txtUser1" onblur="ValidateUser()"  required>
							
						</div>
						<div class="input-group form-group" >
							<div class="input-group-prepend">
								<span class="input-group-text curveIcons"><i class="fa fa-key"></i></span>
							</div>
							<input type="password" class="form-control LogInInput"  placeholder="password" id="txt_pass1" name="txt_pass1" onkeyup="passwordValidation('txt_pass1')" required>

						</div>
						<div class="progress progressKasi" >
						  <div id="passwordStregnth" class="progress-bar" role="progressbar"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="input-group form-group" >
							<div class="input-group-prepend">
								<span class="input-group-text curveIcons"><i class="fa fa-key" ></i></span>
							</div>
							<input type="password" class="form-control LogInInput" id="txt_pass2" placeholder="confirm password"  name="txt_pass2" onkeyup="passwordMissMatch('txt_pass1','txt_pass2')"  required>
						</div>
						<div class="form-group"  >
							<input type="submit" value="Signup" id="ub_Create" name="ub_Create" class="btn float-right login_btn">
						</div>
						<input type="hidden" name="hf_Error" id="hf_Error">
					</form>
					<form id="frmResetPass" name="frmResetPass"  action="/login/reset" style="display: none;" method="POST" >
					
						<div class="input-group form-group" >
							<div class="input-group-prepend">
								<span class="input-group-text curveIcons"><i class="fa fa-user" ></i></span>
							</div>
							<input type="text" class="form-control LogInInput" placeholder="username/email" id="txtEmailReset" name="txtEmailReset" onblur="ValidateUser()"  required>
							
						</div>
						
						<div class="form-group"    >
							<input type="submit" value="RESET PASSWORD" id="ub_Resetpass" name="ub_Resetpass" class="btn float-right login_btn" style="width: 100%">
						</div>
					</form>
					<form id="frmGoogleSignIn"  action="/login/google/Signin" style="display: none;" method="POST" >
						<input type="hidden" name="hf_GoogleprofilePic" id="hf_GoogleprofilePic">
						<input type="hidden" name="hf_Email" id="hf_Email">
						<input type="hidden" name="hf_GmailName" id="hf_GmailName">
					</form>
				
				
				
			</div>
			
			<div class="card-footer" style="margin-bottom: 50px;" >
				<div id="footer">
					<div class="d-flex justify-content-center links" id="ub_Signup">
					Don't have an account?<a href="javascript:Signup_Click()" >Sign Up</a>
					</div>

					<div class="d-flex justify-content-center">
						<a href="javascript:ResetPass()" id="lbForget">Forgot your password?</a>
					</div>
				</div>
				
				<div class="card-footer" id="Error">
					<label id="lbErrorMsg" name="lbErrorMsg" style="color:red;font-weight: bolder;" >{{ErrorMsq}}</label>				
				</div>
			</div>
			

		</div>
	</div>
</div>
     </div>
      <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="https://www.facebook.com/kasivoreSA/" class="fa fa-facebook-f" ></a></li>
                <li><a href="https://twitter.com/kasivore" class="fa fa-twitter"></a></li>
                <li><a href="https://www.instagram.com/kasivore_sa" class="fa fa-instagram"></a></li>
         </ul>
    </div>
          
     </section>



{%endblock%}