<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kasivore</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================CSS================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/NevMenu.css')}}">	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}" id="bootstrap-css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/Login.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/Kasivore.css')}}">
	<meta name="google-signin-client_id" content="{{GID}}">
    
<!--===================================Javascript============================================================-->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/kasivore.js')}}"></script>
	<script type="text/javascript">
	
	
 </script>
 <style>

 </style>
</head>
<body onload="PageLoad()">


</script>
	<div class ="MenuCotainer">
			<nav>
				      <input type="checkbox" id="check">
				      <label for="check" class="checkbtn">
				        <i class="fas fa-bars"></i>
				      </label>
				      <label class="logo">Kasivore</label>
				      <ul>
				      	{%for menu in menubuttons%}
				      		<li><a href="{{menubuttons[menu]}}">{{menu}}</a></li>
				      	{%endfor%}
			      	 </ul>
	    		</nav>
    		
    		<div class="CurrentUser">  

				<div class="dropdown">

				  <button class="dropbtn"><a  href="{{loginUrl}}"><img id="profilepicture" src="/images/{{profilepicture}}" alt="Avatar" class="ProfilePicture"></a></button>
				  <div class="dropdown-content">
				  	{% for usermenu in userMenuList%}
				  		<a href="{{userMenuList[usermenu]}}">{{usermenu}}</a>
				  	{%endfor%}
				  
				  </div>
				</div>
				
    		</div>
    </div>
	
	{% block content%}
	{%endblock%}
	


	

</body>
</html>