{% extends "base.html"%}

{%block content%}


    <section class="Login d-flex flex-column justify-content-center align-items-center"  >
       

               <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3><label id="lbSignin">Password Reset</label> </h3>
				<div class="d-flex justify-content-end social_icon">
					<!--<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>-->
				</div>
			</div>
			<div class="card-body">
				
				<div>
					
					<form id="frm_Resetpasword" name="frm_Resetpasword"  method="POST" >
					
						<div class="input-group form-group" >
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							<input type="password" class="form-control"  placeholder="New password" id="txt_pass1" name="txt_pass1" onkeyup="passwordValidation()" required>

						</div>
						<div class="progress" style="margin-bottom: 10px">
						  <div id="passwordStregnth" class="progress-bar" role="progressbar"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="input-group form-group" >
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-key" ></i></span>
							</div>
							<input type="password" class="form-control" id="txt_pass2" placeholder="confirm password"  name="txt_pass2" onkeyup="passwordMissMatch()"  required>
						</div>
						<div class="form-group"  >
							<input type="submit" value="Save" id="ub_Create" name="ub_Create" class="btn float-right login_btn" style="width: 100%" >
						</div>
						<input type="hidden" name="hf_Error" id="hf_Error">
					</form>
				</div>
				
				
			</div>
			
			<div class="card-footer" id="Error">
				<label id="lbErrorMsg" name="lbErrorMsg" style="color:red;font-weight: bolder;" >{{ErrorMsq}}</label>				
			</div>

		</div>
	</div>
</div>
		
		
		
	</div>
      <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="https://www.facebook.com/kasivoreSA/" class="fa fa-facebook-f" ></a></li>
                <li><a href="https://twitter.com/kasivore" class="fa fa-twitter"></a></li>
                <li><a href="https://www.instagram.com/kasivore_sa" class="fa fa-instagram"></a></li>
         </ul>
    </div>
     </section>



{%endblock%}