{% extends "base.html"%}
 {% block content%}
 <!-- CONTACT -->
 	 <section class="Login d-flex flex-column justify-content-center align-items-center"  >
       

               <div class="container">
                <div >
                    <div class="d-flex justify-content-center h-100">
                        <div class="Maincard" >
                           
                            <div class="Maincard-body">
                                <div>
                                    <form id="SiginForm" name="SiginForm" action="/login" method="POST" >
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Name</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Surname</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Tel Number</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Home Address</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Nationality</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">SA ID No.</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Passport No.</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Date of birth</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                         <div class="MainCardGroup">
                                            <label class="MainCardLabel">Gender</label>
                                              <label class="MainCardLabel" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Male
                                                  </label>
                                             <label class="MainCardLabel" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Female
                                                  </label>
                                             <label class="MainCardLabel" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Non-Binary
                                                  </label>
                                            
                                        </div>
                                       

                                     
                                    </form>
                                </div>
                                
                                
                            </div>                           
                           

                        </div>

                        <div class="SideMenu">
                            <div class="arrow-up ">
                    
                        </div>
                    
                        </div>
                    </div>
                </div>
                
        </div>
     <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="#" class="fa fa-facebook-f" ></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
         </ul>
    </div>
          
     </section>
 {%endblock%}
