{% extends "base.html"%}
 {% block content%}
 <!-- CONTACT -->
 	 <section class="Profile d-flex flex-column justify-content-center align-items-center"  >
       

               <div class="container" id="profilemain" >
                <div >
                    <div class="d-flex justify-content-center h-100">
                        <div class="Maincard" >
                           
                            <div class="Maincard-body">
                                <div>
                                    <form id="SiginForm" name="SiginForm" action="/login" method="POST" >
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Name</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Surname</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Tel Number</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Home Address</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Nationality</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">SA ID No.</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Passport No.</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                        
                                        <div class="MainCardGroup">
                                            <label class="MainCardLabel">Date of birth</label>
                                            <input type="text" class="form-control MaicardInputBox"  id="txtUser" name="txtUser" required>
                                            
                                        </div>
                                         <div class="MainCardGroup" style="margin-top: 20px;">
                                            <label class="MainCardLabel">Gender</label>
                                              <label class="GenderRadioButton" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="radio" value="option2">&nbsp;&nbsp;Male
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <label class="GenderRadioButton" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="radio" value="option2">&nbsp;&nbsp;Female
                                                    <span class="checkmark"></span>
                                                  </label>
                                             <label class="GenderRadioButton" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="radio" value="option2">&nbsp;&nbsp;Non-Binary
                                                    <span class="checkmark"></span>
                                                  </label>
                                            
                                        </div>
                                       

                                     
                                    </form>
                                </div>
                                
                                
                            </div>                           
                           

                        </div>

                        <div class="SideMenu">
                            <div class="arrow-up ">     
                                                
                            </div>
                            <label class="SideRadioButton" for="radio2">
                                    Account details<br><br>
                                    <input type="radio" class="form-check-input" id="radio2" name="radio" value="option2">
                                    
                                 </label>
                                 <label class="SideRadioButton" for="radio2">
                                    Profile picture <br><br>
                                    <input type="radio" class="form-check-input" id="radio2" name="radio" value="option2">
                                    
                                 </label>
                                 <label class="SideRadioButton" for="radio2">
                                    Service Provider <br><br>
                                    <input type="radio" class="form-check-input" id="radio2" name="radio" value="option2">
                                    
                                 </label>
                                 <label class="SideRadioButton" for="radio2">
                                    Complete <br><br>
                                    <input type="radio" class="form-check-input" id="radio2" name="radio" value="option2">
                                 
                                 </label>
                            
                        </div>

                         
                    </div>
                </div>
                
        </div>
    <div class="ProfileButtons">
         <div class="form-group Profile_btn-left"    >
            <input type="submit" value="Back" id="ub_Resetpass" name="ub_Resetpass" class="btn float-right login_btn"  >
          </div>  
          <div class="form-group Profile_btn"    >
            <input type="submit" value="Save" id="ub_Resetpass" name="ub_Resetpass" class="btn float-right login_btn"  >
          </div>                  
                            
    </div>
     <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="#" class="fa fa-facebook-f" ></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
         </ul>
    </div>
          
     </section>
 {%endblock%}
