{% extends "base.html" %}
{% block content %}
 
 <section class="service d-flex flex-column justify-content-center align-items-center" >
       <div class="bg-overlay"></div>

               <div class="container">
                 
               </div>
      <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="#" class="fa fa-facebook-f" ></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
         </ul>
    </div>
     </section>
{% endblock %}