{% extends "base.html"%}


{%block content%}

<section class="hero d-flex flex-column justify-content-center align-items-center" >
       <div class="container" id="profilemain" >
              <div class="d-flex justify-content-center h-100">
                     <div class="Maincard">
                            
                            {%if Loginlink == ''%}
                            <div class="Maincard-body">
                                   <div class="Headergroup">
                                          <label class="BusinessAddressHeader">Welcome to Kasivore!!!</label>
                                          
                                      </div>
                                      <div class="MainCardGroup">
                                          <label class="WelcomeNote">
                                                 Welcome to kasivore an email has been sent to {{email}}. <br>
                                                 Please confirm to activate your account then <a href="/login" style="color:red;"> Signin </a> 
                                                 <br>
                                                 You can use your email as username or use kasivore username:&nbsp;  <b> {{username}} </b> 
                                          </label>
                                          
                                      </div>
                                   
                            </div>
                            {%else%}
                            <div class="Maincard">
                                   <div class="Maincard-body">
                                          <div class="Headergroup">
                                                 <label class="BusinessAddressHeader">Password Reset</label>
                                                 
                                          </div>
                                          <div class="MainCardGroup">
                                                 <label class="WelcomeNote">
                                                        Password reset link has been sent to your email: {{email}}. <br>
                                                        Go back to login page <a href="/login" style="color:red;"> Signin </a> 
                                                        <br>
                                                 </label>
                                                 
                                          </div>
                                          
                                   </div>
                            </div>
                            {%endif%}
                     </div>
              </div>
             
       </div>
 

  <div class="Social-media">
         <ul class="social-icon ml-lg-3 SocialList">
                <li><a href="https://www.facebook.com/kasivoreSA/" class="fa fa-facebook-f" ></a></li>
                <li><a href="https://twitter.com/kasivore" class="fa fa-twitter"></a></li>
                <li><a href="https://www.instagram.com/kasivore_sa" class="fa fa-instagram"></a></li>
         </ul>
    </div>
</section>

{%endblock%}
